.login{
	width:600px;
	margin:auto;
	text-align:center;
	
}
body {
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 60s infinite;
}
@-webkit-keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
@keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
.br{
font-size: 25pt;
font-weight: hard;
  color:Black;
  text-align:center;
  font-weight:bold;
  text-shadow:1px 3px #c1c1c1;
}
.title{
font-size: 25pt;
font-weight: hard;
  color:Black;
  text-align:center;
  font-weight:bold;
  text-shadow:1px 3px #c1c1c1;
}
.button {
  background-color: #4CAF50;
  
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}